/* Font setup and body styling */
body {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-color: #BF222A;
  background-color: #f0f0f0;
}

/* Making links not do weird things */
a:link
{
   color: #22BFB6;
   text-decoration: none;
}
a:visited
{
   color: #22BFB6;
   text-decoration: none;
}
a:hover
{
   color: #22BFB6;
   text-decoration: none;
}
a:active
{
   color: #22BFB6;
   text-decoration: none;
}

/* header styling */
header {
  padding: 25px;
  background-color: #a1a1a1;
}

/* navigation bar */
.navbar {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-bottom: 0px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  padding: 0;
  background-color: #a1a1a1;
  border-radius: 5px;
  border-color: #0a0a0a;
}


/* each menu dropdown */
.menubutton {
  /*align text to the left*/
  border-color: #656565;
  border-radius: 5px;
}

.dropdown {
  list-style-type: none;
  position: relative;
  display: inline-block;
  background-color: #555555;
}

.dd-link {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 16px;
}

.dropdown:hover .dd-link {
  display: block;
}



/* home page formatting and design */
.container-fluid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #cdcdcd;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0px;
  padding: 1%;

}

.griditem {
  background-color: #f0f0f0;
  width: 225px;
  flex: 0 1 auto;
  padding: 1%;
  border-radius: 5px;
  border-color: #0a0a0a;
}

.gridtitle {
	/* align-content: center;
	background-color: (25, 25, 25); */
}

.thumbnail {
	border-radius: 10px;
	overflow: hidden;
}

img {
	max-width: 100%;
}

.addt_info {

}

/* accessible for phones */
@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
  }
  .container-fluid {
    flex: column wrap;
  }
  .griditem {
    min-width: 250px;
  }
}
