body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* FIND A WAY TO MAKE ALL LINKS SAME COLOR */
link:hover {
  /*text color whatever*/
}

/* header styling */
header {
  padding: 25px;
}

/* navigation bar */
.navbar {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  padding: 0;
  background-color: aliceblue;
}


/* each menu dropdown */
.menubutton {
  /*align text to the left*/
}

.dropdown {
  list-style-type: none;
  position: relative;
  display: inline-block;
  background-color: gray;
}

.dd-link {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 16px;
  z-index: 1;
}

.dropdown:hover .dd-link {
  display: block;
}

li {
  padding: 10px 5px 10px 0px;
}

/* home page formatting and design */
.container-fluid {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: space-evenly;
}

.griditem {
  background-color: goldenrod;
  width: 225px;
  flex: 0 1 auto;
  padding: 1%;
  margin-bottom: 1%;
  border-radius: 5px;
}

.gridtitle {
	/* align-content: center;
	background-color: (25, 25, 25); */
}

.thumbnail {
	border-radius: 10px;
	overflow: hidden;
}

img {
	max-width: 100%;
}

.addt_info {
	width: min-content;
}

/* accessible for phones */
@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
  }
  .container-fluid {
    flex: column wrap;
  }
  .griditem {
    min-width: 250px;
  }
}
