/* Font setup and body styling */
body {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  color: #0a0a0a;
  background-color: #252525;
}

h1,
h2 {
  padding: 1%;
  background-color: #e7e7e7;
  border-radius: 5px;
  border: outset white;
}

h1:hover,
h2:hover {
  border: inset white;
}

/* Making links not do weird things */
a:link {
  color: #22bfb6;
  text-decoration: none;
}
a:visited {
  color: #22bfb6;
  text-decoration: none;
}
a:hover {
  color: #22bfb6;
  text-decoration: none;
  cursor: pointer;
}
a:active {
  color: #22bfb6;
  text-decoration: none;
}

/* header styling */
header {
  padding: 25px;
  background-color: #a1a1a1;
}

/* navigation bar */
.navbar {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-bottom: 0px;
  margin-top: 50px;
  margin-left: 5%;
  width: 90%;
  padding: 0;
  background-color: #a1a1a1;
  outline: outset #cfcfcf;
  border-radius: 3px;
}

/* each menu dropdown */
.dropdown {
  list-style-type: none;
  position: relative;
  display: inline-block;
  background-color: #e7e7e7;
  border-radius: 5px;
  padding-right: 40px;
  border-radius: 3px;
}
.dropdown.Drawing {
  outline: outset #d9ffd9;
}
.dropdown.General {
  outline: outset #ffffff;
}
.dropdown.Worldbuilding {
  outline: outset #d9d9ff;
}

.dd-link {
  display: none;
  position: absolute;
  background-color: #e7e7e7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 16px;
  border: solid white;
  border-radius: 5px;
}

.dropdown:hover .dd-link {
  display: block;
}

/* home page formatting and design */
.container-fluid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #555555;
  margin-top: 0px;
  padding: 1%;
  width: 90%;
  border: inset #a1a1a1;
}

.griditem {
  width: 250px;
  height: 5%;
  flex: 0 1 auto;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* color based on item category */
.Drawing {
  background-color: #a7cfa7;
}
.General {
  background-color: #cfcfcf;
}
.Worldbuilding {
  background-color: #a7a7cf;
}

.gridtitle {
  text-align: center;
}

.thumbnail {
  border-radius: 10px;
  overflow: hidden;
  max-height: 100px;
  margin-top: 15px;
}

img {
  max-width: 100%;
}

.category {
  border: solid white;
  border-radius: 5px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 15px;
}

/* Single item styling */
.singleitem p {
  color: #e7e7e7;
}

/* accessible for phones */
@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
  }
  .container-fluid {
    flex: column wrap;
  }
  .griditem {
    min-width: 250px;
  }
}
